.hero {
  background-image: url("img/street.jpg");
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* opacity: 0;
  transition: 0.3s ease; */
  background-image: url("img/stock2.svg");
  background-repeat: no-repeat;
  background-size: 40%;
}
main:hover .overlay {
  opacity: 1;
}
/* .overflow {
  height: 300vh;
} */
.parallax {
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 600px) {
  .overlay {
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* opacity: 0;
    transition: 0.3s ease; */
    background-image: url("img/stock2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
body {
  background-image: linear-gradient(to bottom right, #253a4e, #0cddb3);
  background-color: #16a085;
  font-family: 'Kanit', sans-serif;

}

.promo {
  text-align: center;
  margin-bottom: -15px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom right, #253a4e, #0cddb3);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.7);
  
  
}
a.promo2:link {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
a.promo2:visited {
  color: #f1c40f;
  text-decoration: none;
}

.navbar{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  padding-bottom: 0%;
  padding-top: 0%;
}
.one-h2{
  text-align: center;
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.7);

}
footer{
  height:100vh;
  background-color: #253a4e;
}
.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 600px;
}
.space{
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.7);
  

}
html{
  scroll-behavior: smooth;
}
.img-text{
  width: 100%;
  height: 300px;
  display: block;
  padding: 40% 5%;
  background:#343A3F;
  color:#fff;
  border-radius:15px;
  text-align: center;
}
.img-text h2{
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.img-text p{
  font-size: 15px;
}
.img-area{
  position:absolute;
  width: 110px;
  height: 110px;
  border: 5px solid #fff;
  overflow: hidden;
  top: 15px;
  left: 125px;
  border-radius: 50%;
}
.img-area img{
  width: 100%;
}
.single-box{
  position:relative;
  margin-bottom: 30px;
}
.carousel-indicators{
  left:0;
  top:auto;
  bottom: -15px;
}
.carousel-indicators li{
  background:#000;
  border-radius:50%;
  height: 5px;
  width: 25px;
}
.carousel-indicators .active{
  background: #fff;
}

